<div>
    <h1>Welcome to the Beer App</h1>
    <img src="../public/images/beer.png" alt="Beer Image" width="300" height="200">

    <div>
    <a href="/beers">Check the Beers!</a>
    <a href="/random-beer">Check a Random Beer</a>
    </div>
</div>