<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Recipe App</title>
    <link rel="" href="" />
  </head>
  <body>
    <nav>
        <div class="navbar-nav">
          <a href="/"> Home</a>
          <a href="/beers">Beers</a>
          <a href="/random-beer">Random Beer</a>
        </div>
    </nav>
 
    <main>
    {{{ body }}}
    </main>
 
  </body>
</html>